<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright-text text-center">
                    © 2019 Designed and Developed by
                    <a rel="nofollow" href="http://graygrids.com">
                        Gdg Ebolowa Members
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Go to Top Link -->
<a href="#" class="back-to-top">
    <i class="icon-arrow-up"></i>
</a>
